<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="io.github.rhildred.hellophonegap" version="0.0.1">
<preference name="phonegap-version" value="3.7.0" />
    <name>Assignment 1</name>

    <description>
        Basic quiz app
    </description>
    <content src="index.html" />
    <author href="https://pleepploop.github.io">
        Ian Thomson
    </author>
    <access origin="*" />
</widget>
